@using GitApi.Web.ViewModels.Repositorios;
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Painel de Repositórios</h2>

@using (Html.BeginForm(new { @class="form-inline"}))
{
    <div class="form-group form-inline">
        @Html.TextBoxFor(model => model.NomeRepositorio, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NomeRepositorio)
    
        <button type="button" class="btn-link" id="btnBuscarNome">Buscar repositórios por nome</button>
        <button type="button" class="btn-link" id="btnLstRepo">Listar meus repositórios</button>
    </div>
    
}

<div id="resultado">

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval",
    "~/bundles/framework"
    , "~/bundles/repositoriosIndex")
}