
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Painel de Repositórios</h2>

<button type="button" id="btnLstRepo" class="form-control">Listar meus repositórios</button> 

@section scripts{
    @Scripts.Render("~/bundles/framework"
    , "~/bundles/repositoriosIndex")
}